
<div ng-init="Init()" ng-cloak>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools" layout-margin>
      <md-menu md-offset="0 -7">
          <md-button class="md-icon-button" aria-label="Open demo menu" ng-click="$mdOpenMenu()">
            <md-tooltip md-direction="bottom">Menú</md-tooltip>
            <md-icon md-svg-icon="img/menu.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="item in Menu">
              <md-button ng-click="announceClick(item)"> {{item}} </md-button>
            </md-menu-item>
          </md-menu-content>
      </md-menu>
      <p md-truncate flex>Bienvenido {{User.name + ' '+ User.lastName}}</p>
      <md-button class="md-icon-button" aria-label="Open demo menu" ng-click="LogOut()">
            <md-tooltip md-direction="left">Salir</md-tooltip>
            <md-icon md-svg-icon="img/out.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
</div>

<!--Profile-->
<div ng-show="Profile">

      <div layout="row" flex layout-align="center center" layout-margin>
        <div flex>
          <md-toolbar class="md-accent md-hue-3" style="min-height: 48px; text-align: center">
            <h2>Perfil</h2>
          </md-toolbar>
        </div>
      </div>

      <div layout="row" flex layout-align="center center" layout-margin>
        <md-card flex="80"> 
          <md-card-content>
            <form name="profileForm" ng-submit="UpdateProfile()">

              <div layout="row">
                <md-input-container class="md-block" flex>
                  <label>RFC</label>
                  <input required name="RFC" md-maxlength="13" ng-model="dataProfile.personalData.RFC">
                  <div ng-messages="profileForm.RFC.$error">
                    <div ng-message="required">Este campo es requerido</div>
                    <div ng-message="md-maxlength">RFC muy largo</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label>Nombre(s)</label>
                  <input required name="Nombre" ng-model="dataProfile.personalData.Name">
                  <div ng-messages="profileForm.Nombre.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                  <label>Apellidos</label>
                  <input required name="Apellidos" ng-model="dataProfile.personalData.lastName">
                  <div ng-messages="profileForm.Apellidos.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">

                <md-input-container class="md-block" flex="50">
                  <label>Sexo</label>
                  <md-select name="Sexo" ng-model="dataProfile.personalData.Sex" required>
                  <md-option value="M">Femenino</md-option>
                  <md-option value="H">Masculino</md-option>
                  </md-select>
                  <div ng-messages="profileForm.Sexo.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                  <label>Teléfono</label>
                  <input required name="Telefono" ng-model="dataProfile.personalData.Telephone">
                  <div ng-messages="profileForm.Telefono.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="100">
                  <label>Dirección Completa</label>
                  <input required name="Direccion" ng-model="dataProfile.personalData.Address">
                  <div ng-messages="profileForm.Direccion.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label>Email</label>
                  <input required name="Email" ng-model="dataProfile.personalData.Email" type="email">
                  <div ng-messages="profileForm.Email.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                  <label>Confirma Email</label>
                  <input required name="Email" ng-model="Correo2" type="email">
                  <div ng-messages="profileForm.Email.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label>Contraseña</label>
                  <input required name="Contrasena" ng-model="Contrasena" type="password">
                  <div ng-messages="profileForm.Contrasena.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                  <label>Confirma Contraseña</label>
                  <input required name="Contrasena" ng-model="Contrasena2" type="password">
                  <div ng-messages="profileForm.Contrasena.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>    

              <section layout="row"  layout-align="space-around center">
                <md-button type="reset" class="md-raised md-warn">Reestablecer</md-button>
                <md-button ng-disabled="!profileForm.$valid" type="submit" class="md-raised md-accent md-hue-3">Actualizar</md-button>
              </section>
            </form>
          </md-card-content>
        </md-card>
      </div>
</div>

<!--Users..........................................................................................................-->
<div ng-show="SelectUserMaster">

      <div layout="row" flex layout-align="center center" layout-margin>
        <div flex>
          <md-toolbar class="md-accent md-hue-3" style="min-height: 48px; text-align: center">
            <h2>Usuarios</h2>
          </md-toolbar>
        </div>
      </div>
      <div layout-margin>
        <md-nav-bar nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-click="AddUser()" flex="50" align="center">
            Agregar Usuario
          </md-nav-item>
          <md-nav-item md-nav-click="ViewUser()" flex="50" align="center">
            Visualizar Usuario
          </md-nav-item>
        </md-nav-bar>
      </div>

      <div layout="row" flex layout-align="center center" layout-margin ng-show="FormRegisterUser">
        <md-card flex="80"> 
          <md-card-content>
            <form name="userForm" ng-submit="RegisterUser()">

              <div layout="row">
                <md-input-container class="md-block" flex>
                  <label>RFC</label>
                  <input required name="RFC" md-maxlength="13" ng-model="RFC">
                  <div ng-messages="userForm.RFC.$error">
                    <div ng-message="required">Este campo es requerido</div>
                    <div ng-message="md-maxlength">RFC muy largo</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label>Nombre(s)</label>
                  <input required name="Nombre" ng-model="Nombre">
                  <div ng-messages="userForm.Nombre.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                  <label>Apellidos</label>
                  <input required name="Apellidos" ng-model="Apellido">
                  <div ng-messages="userForm.Apellidos.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">

                <md-input-container class="md-block" flex="50">
                  <label>Sexo</label>
                  <md-select name="Sexo" ng-model="Sexo" required>
                  <md-option value="M">Femenino</md-option>
                  <md-option value="H">Masculino</md-option>
                  </md-select>
                  <div ng-messages="userForm.Sexo.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                  <label>Perfil</label>
                  <md-select name="Perfil" ng-model="Perfil" required>
                  <md-option value="Admin">Administrador</md-option>
                  <md-option value="Master">Master</md-option>
                  </md-select>
                  <div ng-messages="userForm.Perfil.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
                
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="70">
                  <label>Dirección Completa</label>
                  <input required name="Direccion" ng-model="Direccion">
                  <div ng-messages="userForm.Direccion.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex="30">
                  <label>Teléfono</label>
                  <input required name="Telefono" ng-model="Telefono">
                  <div ng-messages="userForm.Telefono.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label>Email</label>
                  <input required name="Email" ng-model="Correo" type="email">
                  <div ng-messages="userForm.Email.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                  <label>Confirma Email</label>
                  <input required name="Email" ng-model="Correo2" type="email">
                  <div ng-messages="userForm.Email.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label>Contraseña</label>
                  <input required name="Contrasena" ng-model="Contrasena" type="password">
                  <div ng-messages="userForm.Contrasena.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                  <label>Confirma Contraseña</label>
                  <input required name="Contrasena" ng-model="Contrasena2" type="password">
                  <div ng-messages="userForm.Contrasena.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>    

              <section layout="row"  layout-align="space-around center">
                <md-button type="reset" class="md-raised md-warn">Reestablecer</md-button>
                <md-button ng-disabled="!userForm.$valid" type="submit" class="md-raised md-accent md-hue-3">Registrar</md-button>
              </section>
        </form>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" flex layout-align="center center" layout-margin ng-show="FormEditUser" ng-cloak>
    <md-card flex="80"> 
      <md-card-content>
        <md-list>
          <div layout="row" layout-align="center center">
            <md-input-container class="md-block">
              <label>Búsqueda de Usuarios</label>
              <input ng-model="findUser">
            </md-input-container>
          </div>

          <md-list-item class="md-2-line" style="font-size: medium;">
            <span flex="15">RFC</span>
            <span flex="35">Nombre</span>
            <span flex="25">Email</span>
            <span flex="10">Estatus</span>
            <span flex="10">Perfil</span>
            <span flex="10"></span>
          </md-list-item>

          <md-list-item ng-repeat="user in Users | filter : findUser | orderBy : 'personalData.Name'"" class="md-2-line" style="font-size: medium;">
            <div class="md-list-item-text" layout="row" layout-align="start center">
              <span flex="15">{{ user.personalData.RFC }}</span>
              <span flex="35">{{ user.personalData.Name + " " + user.personalData.lastName }}</span>
              <span flex="25">{{ user.personalData.Email }}</span>
              <span flex="10">
                <md-switch ng-model="user.isActive" ng-model-options="{ getterSetter: true }" aria-label="Switch 5" class="md-primary">
                </md-switch>
              </span>
              <span flex="10">{{ user.personalData.userType }}</span>
              <span flex="10">
              <button type="button" class="btn btn-default btn-sm" ng-click="goToUser(user)">
                <span class="icon-edit"></span>Editar
              </button>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>

<!--Candidates........................................................................................................-->

<div ng-show="SelectCandidate" ng-cloak>
  <div layout="row" flex layout-align="center center" layout-margin>
    <div flex>
      <md-toolbar class="md-accent md-hue-3" style="min-height: 48px; text-align: center">
        <h2>Candidatos</h2>
      </md-toolbar>
    </div>
  </div>
 <!--  <div layout="row" flex layout-align="center center" layout-margin>
    <div flex="50">
      <md-toolbar class="md-accent md-hue-1" style="min-height: 48px">
        <md-button class="md-accent" ng-click="AddCandidate()">Agregar</md-button>
      </md-toolbar>
    </div>
    <div flex="50">
      <md-toolbar class="md-accent md-hue-1" style="min-height: 48px">
        <md-button class="md-accent" ng-click="ViewCandidate()">Visualizar</md-button>
      </md-toolbar>
    </div>
  </div> -->

  <div layout-margin>
    <md-nav-bar nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="AddCandidate()" flex="50" align="center">
        Agregar Candidato
      </md-nav-item>
      <md-nav-item md-nav-click="ViewCandidate()" flex="50" align="center">
        Visualizar Candidato
      </md-nav-item>
    </md-nav-bar>
  </div>

  <div layout="row" flex layout-align="center center" layout-margin ng-show="FormRegisterCandidate" ng-cloak>
    <md-card flex="80"> 
      <md-card-content>
        <form name="candidateForm" ng-submit="RegisterCandidate()">
          <!--Div de carga de imagen-->
            <div layout="row" layout-align="center center">
              <label for='venue_image' ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"  name="imageProfile" required>
                <img ng-src="img/profile.png">
                  <md-tooltip md-direction="top">Click para adjuntar imagen de perfil</md-tooltip>
                </img>
                <span ng-if="file" layout="row" layout-align="center center">{{file.name}}</span>
                <div ng-messages="candidateForm.imageProfile.$error">
                  <div ng-message="required">Adjunta una imagen de perfil</div>
                </div>
              </label>
              <div class="progress" data-ng-if="file">
                <div class="progress-bar progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="{{progess}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                {{progress}}% Completado
                </div>
              </div>
            </div>
          <!--Cierro div de carga de imagen-->
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>RFC</label>
              <input name="RFC" md-maxlength="13" ng-model="RFC" required>
              <div ng-messages="candidateForm.RFC.$error">
                <div ng-message="required">Este campo es requerido</div>
                <div ng-message="md-maxlength">RFC muy largo</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex="30">
                    <label>Grado</label>
                      <md-select required name="Grado" ng-model="Grado">
                        <md-option value="Lic.">Licenciatura</md-option>
                        <md-option value="M.">Maestría</md-option>
                        <md-option value="Dr.">Doctorado</md-option>
                      </md-select>
                      <div ng-messages="candidateForm.Grado.$error">
                      <div ng-message="required">Este campo es requerido</div>
                    </div>
            </md-input-container>

            <md-input-container class="md-block" flex="35">
              <label class="icon-user">Nombre(s)</label>
              <input required name="Nombre" ng-model="Nombre">
              <div ng-messages="candidateForm.Nombre.$error">
                <div ng-message="required">Este campo es requerido</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex="35">
            <label>Apellidos</label>
            <input required name="Apellido" ng-model="Apellidos">
            <div ng-messages="candidateForm.Apellido.$error">
            <div ng-message="required">Este campo es requerido</div>
            </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label>Sexo</label>
              <md-select name="Sexo" ng-model="Sexo" required>
              <md-option value="M">Femenino</md-option>
              <md-option value="H">Masculino</md-option>
              </md-select>
              <div ng-messages="candidateForm.Sexo.$error">
                <div ng-message="required">Este campo es requerido</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex="25">
              <label>Teléfono</label>
              <input ng-model="Telefono" name="Telefono" required>
              <div ng-messages="candidateForm.Telefono.$error">
                <div ng-message="required">Este campo es requerido</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex="25">
              <label>Extensión</label>
              <input name="Extension" ng-model="Extension" placeholder="1050">
              <div ng-messages="candidateForm.Extension.$error">
                <div ng-message="required">Este campo es requerido</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label>Dirección Completa</label>
              <input ng-model="Direccion" name="Direccion" required>
              <div ng-messages="candidateForm.Direccion.$error">
                <div ng-message="required">Este campo es requerido</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
              <label>Email</label>
              <input required name="Email" ng-model="Email" type="email">
              <div ng-messages="candidateForm.Email.$error">
                <div ng-message="required">Este campo es requerido</div>
              </div>
            </md-input-container>
          </div> 

          <section layout="row"  layout-align="space-around center">
            <md-button type="reset" class="md-raised md-warn">Reestablecer</md-button>
            <md-button ng-disabled="!candidateForm.$valid" type="submit" class="md-raised md-accent md-hue-3">Registrar</md-button>
          </section>

        </form>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" flex layout-align="center center" layout-margin ng-show="FormEditCandidate" ng-cloak>
    <md-card flex="90"> 
      <md-card-content>
        <md-list>
          <div layout="row" layout-align="center center">
            <md-input-container class="md-block">
              <label>Búsqueda de Candidatos</label>
              <input ng-model="findCandidate">
            </md-input-container>
          </div>

          <md-list-item class="md-2-line" style="font-size: medium;">
            <span flex="35">Nombre</span>
            <span flex="25">Correo</span>
            <span flex="15">RFC</span>
            <span flex="10">Teléfono</span>
            <span flex="10">Extensión</span>
            <span flex="10">Estatus</span>
            <span flex="10"></span>
          </md-list-item>

          <md-list-item ng-repeat="candidate in Candidates | filter : findCandidate | orderBy : 'personalData.Name'"" class="md-2-line" style="font-size: medium;">
            <div class="md-list-item-text" layout="row" layout-align="start center">
              <span flex="35">
                <img ng-src="{{candidate.personalData.profileImageUrl}}?{{$index}}" class="md-avatar">
                {{ candidate.personalData.Name + " " + candidate.personalData.lastName }}
              </span>
              <span flex="25">{{ candidate.personalData.Email }}</span>
              <span flex="15">{{ candidate.personalData.RFC }}</span>
              <span flex="10">{{ candidate.personalData.Telephone }}</span>
              <span flex="10">{{ candidate.personalData.Ext }}</span>
              <span flex="10">
              <md-switch ng-model="candidate.isActive" ng-model-options="{ getterSetter: true }" aria-label="Switch 6">
              </md-switch>
              </span>
              <span flex="10">
                <button type="button" class="btn btn-default btn-sm" ng-click="goToCandidate(candidate)">
                  <span class="glyphicon glyphicon-cog"></span> Editar
                </button>
              </span>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>

<!--Votes.............................................................................................................-->
<div ng-show="SelectVote">
      <div layout="row" flex layout-align="center center" layout-margin>
        <div flex>
          <md-toolbar class="md-accent md-hue-3" style="min-height: 48px; text-align: center">
            <h2>Votantes</h2>
          </md-toolbar>
        </div>
      </div>
      <div layout-margin>
        <md-nav-bar nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-click="AddVote()" flex="50" align="center" layout-margin>
            Agregar Votante
          </md-nav-item>
          <md-nav-item md-nav-click="ViewVote()" flex="50" align="center" layout-margin>
            Visualizar Votante
          </md-nav-item>
        </md-nav-bar>
      </div>

      <div layout="row" flex layout-align="center center" layout-margin ng-show="FormRegisterVote">
        <md-card flex="80"> 
          <md-card-content>
            <form name="voteForm" ng-submit="registerVote()">
              
              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label>Boleta</label>
                  <input md-maxlength="10" md-minlength="10" required name="Boleta" ng-model="Boleta">
                  <div ng-messages="voteForm.Boleta.$error">
                    <div ng-message="required">Este campo es requerido</div>
                    <div ng-message="md-maxlength">Boleta muy larga</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                  <label>Teléfono Celular</label>
                  <input md-maxlength="10" md-minlength="10" required name="Telefono" ng-model="Telefono">
                  <div ng-messages="voteForm.Telefono.$error">
                    <div ng-message="required">Este campo es requerido</div>
                    <div ng-message="md-maxlength">Telefono muy largo</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex="50">
                  <label class="icon-user">Nombre(s)</label>
                  <input required name="Nombre" ng-model="Nombre">
                   <div ng-messages="voteForm.Nombre.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              
                <md-input-container class="md-block" flex="50">
                  <label>Apellidos</label>
                  <input required name="Apellidos" ng-model="Apellidos">
                  <div ng-messages="voteForm.Apellidos.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              </div>


              <div layout-gt-sm="row">
                 <md-input-container class="md-block" flex="35">
                  <label class="icon-mf">Sexo</label>
                    <md-select required name="Sexo" ng-model="Sexo">
                      <md-option value="H">Masculino</md-option>
                      <md-option value="M">Femenino</md-option>
                    </md-select>
                    <div ng-messages="voteForm.Sexo.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

               <span flex="5"></span>

                <md-input-container class="md-block" flex="35">
                  <label class="icon-envelope">Email</label>
                  <input required name="Email" ng-model="Email" type="email">
                  <div ng-messages="voteForm.Email.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

                <span flex="2.5"></span>

                <div flex="25">
                  <h4>Fecha de Nacimiento</h4>
                  <md-datepicker ng-model="FNCalendar" md-placeholder="Introducir Fecha" md-current-view="year" md-min-date="minfec" md-max-date="maxfec"></md-datepicker>
                </div>

              </div>
              <section layout="row"  layout-align="space-around center">
                <md-button type="reset" class="md-raised md-warn">Reestablecer</md-button>
                <md-button ng-disabled="!voteForm.$valid" type="submit" class="md-raised md-accent md-hue-3">Registrar</md-button>
              </section>
            </form>
          </md-card-content>
        </md-card>
      </div>

      <div layout="row" flex layout-align="center center" layout-margin ng-show="FormEditVote" ng-cloak>
        <md-card flex="90"> 
          <md-card-content>
            <md-list>
              <div layout="row" layout-align="center center">
                <md-input-container class="md-block">
                  <label>Búsqueda de Votantes</label>
                  <input ng-model="findCandidate">
                </md-input-container>
              </div>

              <md-list-item class="md-2-line" style="font-size: medium;">
                <span flex="25">Boleta</span>
                <span flex="25">Nombre</span>
                <span flex="25">Email</span>
                <span flex="15">Estatus</span>
                <span flex="10"></span>
              </md-list-item>

              <md-list-item ng-repeat="vote in Votes | filter : findCandidate | orderBy : 'personalData.Name'" class="md-2-line" style="font-size: medium;">
                <div class="md-list-item-text" layout="row" layout-align="start center">
                  <span flex="25">{{ vote.personalData.Boleta }}</span>
                  <span flex="25">
                    {{ vote.personalData.Name + " " + vote.personalData.lastName }}
                  </span>
                  <span flex="25">{{ vote.personalData.Email }}</span>
                  <span flex="15">
                  <md-switch ng-model="vote.isActive" ng-model-options="{ getterSetter: true }" aria-label="Switch 6">
                  </md-switch>
                  </span>
                  <span flex="10">
                    <button type="button" class="btn btn-default btn-sm" ng-click="goToVote(vote)">
                      <span class="glyphicon glyphicon-cog"></span> Editar
                    </button>
                  </span>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
    </div>
</div>
<!--VotingBallots..........................................................................................................-->
<div ng-show="SelectVotingB">
      <div layout="row" flex layout-align="center center" layout-margin>
        <div flex>
          <md-toolbar class="md-accent md-hue-3" style="min-height: 48px; text-align: center">
            <h2>Plantillas de Votación</h2>
          </md-toolbar>
        </div>
      </div>
      <div layout-margin>
        <md-nav-bar nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-click="AddVotingVB()" flex="50" align="center" layout-margin>
            Crear Plantilla de Votación
          </md-nav-item>
          <md-nav-item md-nav-click="ViewVotingVB()" flex="50" align="center" layout-margin>
            Visualizar Plantilla de Votación 
          </md-nav-item>
        </md-nav-bar>
      </div>

      <div layout="row" flex layout-align="center center" layout-margin ng-show="FormRegisterVB">
        <md-card flex="80"> 
          <md-card-content>
            <form name="vbForm" ng-submit="CrearPlantilla()">

              <md-input-container class="md-block" flex>
                <label >Nombre de la votación</label>
                <input name="Nombre" ng-model="nombre" required>
                <div ng-messages="vbForm.Nombre.$error">
                  <div ng-message="required">Este campo es requerido</div>
                </div>
              </md-input-container>

              
              <md-input-container class="md-block">
              <label>Descripción</label>
              <textarea ng-model="descrip" md-maxlength="100" rows="2" md-select-on-focus></textarea>
              </md-input-container>

              <div layout="row">

                <div flex="50">
                  <h4>Fecha Inicio de Votación</h4>
                  <md-datepicker ng-model="myDate" md-placeholder="Introducir Fecha" md-min-date="minDate" md-max-date="maxDate"
                  md-date-filter="onlyWeekendsPredicate"></md-datepicker>
                </div>

                <md-input-container flex="50">
                  <label >Hora de Inicio </label>
                  <md-select ng-model="hour" required name="hour">
                    <md-option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</md-option>
                  </md-select>
                  <div ng-messages="vbForm.hour.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

              </div>

              <div layout="row">

                <div flex="50">
                  <h4>Fecha Final de Votación</h4>
                  <md-datepicker ng-model="myDate1" md-placeholder="Introducir Fecha" md-min-date="minDate" md-max-date="maxDate"
                  md-date-filter="onlyWeekendsPredicate"></md-datepicker>
                </div>

                <md-input-container flex="50">
                  <label>Hora Final</label>
                  <md-select ng-model="hourf" required name="hourf">
                    <md-option ng-repeat="hourf in hoursf" value="{{hourf}}">{{hourf}}</md-option>
                  </md-select>
                  <div ng-messages="vbForm.hourf.$error">
                   <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
                </div>


              <section layout="row"  layout-align="space-around center">
              <md-button ng-disabled="!vbForm.$valid" type="submit" class="md-raised md-accent md-hue-3">Crear Plantilla</md-button>
              </section>
              
            </form>
          </md-card-content>
        </md-card>
      </div>

      <div layout="row" flex layout-align="center center" layout-margin ng-show="FormEditVB" ng-cloak>
        <md-card flex="90"> 
          <md-card-content>
            <md-list>
              <div layout="row" layout-align="center center">
                <md-input-container class="md-block">
                  <label>Búsqueda de Plantillas</label>
                  <input ng-model="findVB">
                </md-input-container>
              </div>

              <md-list-item class="md-2-line" style="font-size: medium;">
                <span flex="20">Nombre de la Votación</span>
                <span flex="20">Fecha de Votación</span>
                <span flex="20">Duración de la Votación</span>
                <span flex="20">Descripción</span>
                <span flex="5"></span>
                <span flex="5"></span>
                <span flex="5"></span>
                <span flex="5"></span>
              </md-list-item>

              <md-list-item ng-repeat="vb in VB | filter : findVB" class="md-2-line" style="font-size: medium;">
                <div class="md-list-item-text" layout="row" layout-align="start center">
                  <span flex="20">{{ vb.Name }}</span>
                  <span flex="20">{{ vb.dateInit | date:'dd-MM-yyyy'}} </span>
                  <span flex="20">{{ vb.dateInit | date:'HH:mm' }} - {{ vb.dateEnd | date:'HH:mm'}} </span>
                  <span flex="20">{{ vb.Description }}</span>
                  <span flex="5">
                    <button type="button" style = "background: #75d572" class="btn btn-default btn-sm" ng-click="goToVB(vb)">
                      <span class="icon-user-add"></span>
                      <md-tooltip md-direction="top">Agregar Candidatos</md-tooltip>
                    </button>
                    </span>
                  <span flex="5">
                     <button type="button" style = "background: #FF0040" class="btn btn-default btn-sm" ng-click="deleteVB(vb)">
                      <span class="icon-trash"></span> 
                      <md-tooltip md-direction="top">Eliminar Planilla</md-tooltip>
                    </button>
                  </span>
                  <span flex="5">
                     <button type="button" style = "background: #4FC3F7" class="btn btn-default btn-sm" ng-click="goToVB2(vb)">
                      <span class="icon-minus-circle-1"></span> 
                      <md-tooltip md-direction="top">Visualizar Planilla</md-tooltip>
                    </button>
                  </span>
                  <span flex="5">
                     <button type="button" style = "background: rgb(236,64,122)" class="btn btn-default btn-sm" ng-click="eraseVote()">
                      <span class="icon-circ"></span> 
                      <md-tooltip md-direction="top">Depurar Votantes</md-tooltip>
                    </button>
                  </span>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
    </div>
</div>

<!--Results..........................................................................................................-->

<div ng-show="ResultsVotingBallots">
    <div layout="row" flex layout-align="center center" layout-margin>
      <div flex>
        <md-toolbar class="md-accent md-hue-3" style="min-height: 48px; text-align: center">
          <h2>Resultados Finales</h2>
        </md-toolbar>
      </div>
    </div>

    <div layout="row" flex layout-align="center center" layout-margin>
      <md-card flex="80"> 
        <md-card-content>
          <div layout="row">
            <div layout="column" flex="50" layout-align="center center" layout-margin>
              <md-input-container class="md-block" flex>
                <label>Planillas de Votación</label>
                <md-select ng-model="VB">
                  <md-option ng-repeat="VB in VotingBallots" value="{{VB}}">{{VB}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="column" flex="50" layout-align="center center" layout-margin>
              
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
</div>