
<div ng-init="Init()">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <p md-truncate flex>Bienvenido {{User.name + ' '+ User.lastName}}</p>
      <md-menu md-offset="0 -7">
          <md-button class="md-icon-button" aria-label="Open demo menu" ng-click="$mdOpenMenu()">
            <md-tooltip md-direction="bottom">Menu</md-tooltip>
            <md-icon md-svg-icon="img/menu.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="item in Menu">
              <md-button ng-click="announceClick(item)"> {{item}} </md-button>
            </md-menu-item>
          </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>

<div layout="row" layout-padding layout-margin layout-fill >
  <md-content >

  </md-content>
</div>