<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar</h2>
        <span flex></span>
      </div>
    </md-toolbar>

      <md-dialog-content>
      <div class="md-dialog-content">
      <md-input-container class="md-block" flex-gt-sm>
                  <label > RFC</label>
                  <input md-maxlength="13" ng-model="RFC" required>
                  <div ng-messages="userForm.RFC.$error">
                    <div ng-message="required">Este campo es requerido</div>
                    <div ng-message="md-maxlength">RFC muy largo</div>
                  </div>
                </md-input-container>

            
                 <md-input-container class="md-block" flex-gt-sm >
                  <label class="icon-user">Nombre(s)</label>
                  <input required name="Nombre" ng-model="Nombre">
                   <div ng-messages="userForm.Nombre.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Apellidos</label>
                  <input required name="Apellido" ng-model="Apellido">
                  <div ng-messages="userForm.Apellido.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>
            

         
                <md-input-container class="md-block" flex-gt-sm >
                  <label class="icon-mf">Sexo</label>
                  <md-select name="sex" ng-model="Sexo" required>
                    <md-option value="M">Femenino</md-option>
                    <md-option value="H">Masculino</md-option>
                  </md-select>
                  <div ng-messages="userForm.Sexo.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                  <label class="icon-phone-square" > Teléfono</label>
                  <input ng-model="Tel" required>
                <div ng-messages="userForm.Tel.$error">
                  <div ng-message="required">Este campo es requerido</div>
                </div>
                </md-input-container>
              

              <md-input-container class="md-block" flex-gt-sm>
                <label class="icon-map-marker">Dirección</label>
                <input ng-model="Address" required>
                <div ng-messages="userForm.Address.$error">
                  <div ng-message="required">Este campo es requerido</div>
                </div>
              </md-input-container>

                
             
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label>
                  <input required name="Email" ng-model="Email" type="email">
                  <div ng-messages="userForm.Email.$error">
                    <div ng-message="required">Este campo es requerido</div>
                  </div>
                </md-input-container>


			<span>Status</span>
       			 <md-switch ng-model="Status" aria-label="Switch 6">
        			{{Status}}
        			</md-switch>
        </div>
    </md-dialog-content>



<md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelUser()">
        Cancelar
      </md-button>
      <md-button  ng-click="updateUser()" md-autofocus>
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>