<md-dialog style="max-width: 100%; max-height: 100%; width: 50%; height: 100%; border-radius: 20px;">
  <form name="candidateEditForm" ng-submit="updateCandidate()">
    <md-toolbar>
      <div class="md-toolbar-tools">
          <h3>
              <span>{{Name}}</span>
          </h3>
      </div>
    </md-toolbar>
    <div layout="row" flex layout-margin>
      <div flex class="gridListdemoBasicUsage">
        <md-content layout-margin>
            <md-card flex="100"> 
                <md-card-content>
                    <p style="margin-top: 0;" align="center">
                      <span align="center" class="radioValue">{{Candidate}}</span>
                    </p>
                    <md-radio-group ng-model="Candidate" align="center">
                    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="2" md-row-height-gt-md="5:5" md-row-height="5:5" md-gutter="12px" md-gutter-gt-sm="8px"  layout-margin>
                        <md-grid-tile ng-repeat="data in avatarData">
                        <md-radio-button  ng-value="data.name" aria-label="data.id">
                         <img src="{{data.image}}" class="img-responsive img-square"/>
                        </md-radio-button>
                    </md-radio-group> 
                    </md-grid-tile>
                    </md-grid-list>
                </md-card-content>
            </md-card> 
        </md-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" ng-click="cancelVB1()">
              Cancelar
            </md-button>
        </md-dialog-actions>
      </div>
    </div>
  </form>
</md-dialog>