<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex="100">
            <label>Boleta</label>
            <input ng-model="Boleta">
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Nombre(s)</label>
            <input ng-model="Nombre">
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Apellidos</label>
            <input ng-model="Apellidos">
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Sexo</label>
              <md-select ng-model="Sexo">
                <md-option value="H">Masculino</md-option>
                <md-option value="M">Femenino</md-option>
              </md-select>
        </md-input-container>
        <p></p>

        <md-input-container class="md-block" flex="100">
            <label>Email</label>
            <input ng-model="Email">
        </md-input-container>
        
        <span>Status</span>
        <md-switch ng-model="Status" aria-label="Switch 6">
        {{Status}}
        </md-switch>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelVote()">
        Cancelar
      </md-button>
      <md-button  ng-click="updateVote()" md-autofocus>
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>