<md-dialog style=" max-width: 100%;
    max-height: 100%;
    width: 70%;
    height: 70%;
    border-radius: 20px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="row" >
        <a href="" data-toggle="modal" data-target="#myModal"><img src="{{profileImage}}" style="margin-bottom: 30px;     margin-left: 350px;" class="img-responsive img-circle"></a>
        </div>
        <md-input-container class="md-block" flex="100">
            <label>RFC</label>
            <input ng-model="RFC" required>
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Nombre(s)</label>
            <input ng-model="Nombre" required>
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Apellidos</label>
            <input ng-model="Apellidos" required>
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Sexo</label>
              <md-select ng-model="Sexo" required>
                <md-option value="H">Masculino</md-option>
                <md-option value="M">Femenino</md-option>
              </md-select>
        </md-input-container>
        
        <md-input-container class="md-block" flex="100">
            <label>Dirección</label>
            <input ng-model="Direccion" required>
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Email</label>
            <input ng-model="Email" required>

        <md-input-container class="md-block" flex="100">
            <label>Telefono</label>
            <input ng-model="Telefono" required>
        </md-input-container>

        <md-input-container class="md-block" flex="100">
            <label>Extensión</label>
            <input ng-model="Extension" required>
        </md-input-container>
        
        <span>Status</span>
        <md-switch ng-model="Status" aria-label="Switch 6">
        {{Status}}
        </md-switch>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelCandidate()">
        Cancelar
      </md-button>
      <md-button  ng-click="updateCandidate()" md-autofocus>
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>