<script type="text/javascript">
	$(document).ready(function() {
		var barcode = "";
		$(document).keydown(function(e) {
			var code = (e.keyCode ? e.keyCode : e.which);
			if(code==13){
			console.log(barcode);
			var s= document.getElementById('myField');
			s.value = barcode;
			}
			else{
			barcode=barcode+String.fromCharCode(code);
			}
		});
	});
</script>
<div ng-show="IdentificarVote" ng-init="Load()">
	<div layout="row" flex layout-align="center center" layout-margin>
		<div flex>
		  <md-toolbar class="md-accent md-hue-3" style="min-height: 48px; text-align: center">
		    <h2>Por favor, escanea tu credencial</h2>
		  </md-toolbar>
		</div>
	</div>
	<div layout="row" flex layout-align="center center" layout-margin>
        <md-input-container class="md-block" flex="25">
        	<label></label>
	        <input ng-enter="IdentifyVote()" ng-model="Boleta" id="myField" autofocus>
        </md-input-container>
    </div>
</div>

<div ng-show="ViewVote">
	<div layout="row" flex layout-align="center center" layout-margin>
		<div flex>
		  <md-toolbar class="md-primarymu md-hue-3" style="min-height: 48px; text-align: center">
		  	<h3>Bienvenido {{Vote.Name + ' ' + Vote.lastName}} a iVoto ESCOM</h3>
		  	<h4>Para continuar con tu votación, presiona siguiente</h4>
		  </md-toolbar>
		</div>
	</div>
	<div layout="row" flex layout-align="end center" layout-margin>
		<img ng-click="AuthVote()" class="img-responsive img-circle" src="img/Next1.png" style="width: 150px;" />
	</div>
</div>




