<style type="text/css">
#primer{

  	padding: 10px;
  	margin: 10px;
  	color: black;

}	
div.gallery {


	position: absolute;
	left: 35%;
	top: 30%;
    margin: 50px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}





</style>


<div ng-show="Prueba" id="prindiv" class="container" ng-init="Prueba1()">
	<div class="jumbotron text-center">  
		<h1>Por favor escanea tu crédencial</h1> 
			<script type="text/javascript">
				$(document).ready(function() {
					var barcode = "";
					$(document).keydown(function(e) {
						var code = (e.keyCode ? e.keyCode : e.which);
						if(code==13){
						console.log(barcode);
						var s= document.getElementById('myField');
						s.value = barcode;
						}
						else{
						barcode=barcode+String.fromCharCode(code);
						}
					});
				});
			</script>
		<input ng-enter="recarga()" ng-model="boleta" type="text" id="myField" autofocus/>
	</div>
</div>

<div class="container" ng-show="AU" id="primer" align="center">
	<div ng-model="Data">
		<h3>Bienvenid@</h3>
		
		<div class="gallery">
	    	<img src="img/Usuario.png" alt="Trolltunga Norway" width="300" height="200">
	  		<div class="desc" color="black">
	  			{{Data.personalData.Name}} 
	  			{{Data.personalData.lastName}} <br>
	  			{{Data.personalData.Sex}} <br>
	  		</div>
	  	</div>
	  
	 </div>

	
</div>



