<style>
  .md-select-value span{
    padding-left: 2rem;
  }
</style>
<div class="container">
<link href="https://file.myfontastic.com/ZbrCVFDZufpJezdUaJHsd6/icons.css" rel="stylesheet">
	<div>
  	<form ng-submit="RegisterUser()">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  		
  		<md-input-container class="md-block" flex-gt-sm>
        <label > RFC</label>
        <input ng-model="RFC" required>
      </md-input-container>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label class="icon-user"> Nombre</label>
          <input ng-model="Nombre" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Apellido</label>
          <input ng-model="Apellido" required>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container flex="50">
          <label class="icon-mf"></label>
          <label>Sexo</label>
          <md-select name="sex" ng-model="Sexo" required>
            <md-option value="M">Femenino</md-option>
            <md-option value="H">Masculino</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
          <label class="icon-phone-square" > Teléfono</label>
          <input ng-model="Telefono" required>
        </md-input-container>
      </div>
    			 
      <md-input-container class="md-block" >
        <label class="icon-map-marker">Dirección</label>
        <input ng-model="Direccion" required>
      </md-input-container>

      <div layout-gt-sm="row">

      <md-input-container class="md-block" flex="50" >
        <label class="icon-envelope"> Email</label>
        <input ng-model="Correo" type="email" required>
      </md-input-container>

      <md-input-container class="md-block" flex="50" >
        <label>Confirmar Email</label>
        <input ng-model="Correo2" type="email" required>
      </md-input-container>

      </div>


      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label class="icon-lock"> Contraseña</label>
          <input ng-model="Contrasena" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label> Confirmar Contraseña</label>
          <input ng-model="Contrasena2" required>
        </md-input-container>
      </div>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button md-no-ink class="md-raised md-primary" type="submit">Registrar</md-button>
        <md-button md-no-ink class="md-raised md-primary" type="reset">Restablecer</md-button>
      </section>

      
        

  	</form>
	</div>
</div>