<div layout="row" layout-align="center center" flex>
    <md-card flex="40"> 
      <md-card-content>
        <form name="Forgot" ng-submit="forgotPassword()">
          <div layout="row" layout-align="center center" layout-margin>
            <img src="profileImages/question.png" class="img-responsive img-circle" style="width: 150px">
          </div>

          <md-input-container class="md-block">
            <label class="icon-users">Introduzca su RFC</label>
            <input type="text" name="RFC" ng-model="RFC" required/>
            <div ng-messages="Forgot.RFC.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">RFC Requerido.</div>
            </div>
          </md-input-container>
          <section layout="row" layout-align="space-around center">
            <md-button ng-disabled="!Forgot.$valid" class="md-raised md-primary" type="submit">&nbsp Enviar &nbsp</md-button>
          </section>
        </form>
      </md-card-content>
    </md-card>
</div>