<div layout="row" layout-align="center center" flex>
    <md-card flex="40"> 
      <md-card-content>
        <form name="Reset" ng-submit="Restore()">
          <div layout="row" layout-align="center center" layout-margin>
            <img src="profileImages/splashid-icon.png" class="img-responsive img-circle" style="width: 150px">
          </div>

          <md-input-container class="md-block">
            <label class="icon-users">Introduzca su nueva contraseña</label>
            <input type="text" name="PWD" ng-model="Password" required/>
            <div ng-messages="Reset.PWD.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">RFC Requerido.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label class="icon-users">Confirme su contraseña</label>
            <input type="text" name="PWD1" ng-model="PasswordConfirm" required/>
            <div ng-messages="Reset.PWD1.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">RFC Requerido.</div>
            </div>
          </md-input-container>

          <section layout="row" layout-align="space-around center">
            <md-button ng-disabled="!Reset.$valid" class="md-raised md-primary" type="submit">&nbsp Modificar Contraseña &nbsp</md-button>
          </section>
        </form>
      </md-card-content>
    </md-card>
</div>